@model Post

@{
    ViewData["Title"] = Model.Title;
}

<style>
    .content-wrapper {
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto;
        font-family: sans-serif;
    }
    .feature-image{
        width: 100%;
        height: 500px;
        object-fit: cover;
        margin-bottom:20px;
    }
</style>

 <div class="text-end">
     <a class="btn btn-secondary my-3" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">Editar Post</a>
    <a class="btn btn-danger my-3">Excluir Post</a>
 </div>

<div class="content-wrapper">
    <h1>@Model.Title</h1>
    <p><span class="badge bg-primary">By</span>@Model.Author | <span class="badge bg-primary">Publicado em</span>@Model.PublishedDate.ToString("MMM dd,yyyy")</p>
    <p><span class="badge bg-secondary">Categoria</span>@Model.Category.Name </p>
    <img src="@Model.FeatureImagePath" alt="@Model.Title" class="feature-image"/>
    <hr />
    <div class="">@Html.Raw(@Model.Content)</div>
    <hr />

    @if (Model.Comments.Any())
    {
        <div id="commentSection">
            @foreach(var comment in Model.Comments)
            {
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                    <h5 class="card-title">@comment.UserName</h5>
                    <p class="card-text text-muted">@comment.CommentDate.ToString("MMM dd,yyyy")</p>
                    <p class="card-text ">@comment.Content</p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-muted">Sem Comentarios. Seja o Primeiro a comentar</p>
    }
      <div id="feedbackMessage" class="mt-3"></div>

    <h4> Adicionar Comentario</h4>

     <form id="commentForm">
        <div class="form-group">
            <label for="Username">Nome</label>
            <input for="Username" id="Username" name="Username" required class="form-control" />
        </div>

        <div class="form-group">
            <label for="Content">Conteudo</label>
            <textarea for="Content" id="Content" name="Content" rows="3" required class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary mt-2 p-2 rounded">Enviar Comentario </button>
    </form>
</div>
@section Scripts{
<script>
$(document).ready(function(){

    $("#commentForm").on('submit', function(event){
        event.preventDefault();

        var userName = $("#Username").val();
        var content = $("#Content").val();
        var postId = @Model.Id;

        var feedback = $("#feedbackMessage");

        $.ajax({
            url: '@Url.Action("AddComment","Post")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                Username: userName,
                Content: content,
                PostId: postId
            }),

            success: function(response){
                $('commentForm')[0].reset();
                $('#commentSection').append(`
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">${response.Username}</h5>
                            <p class="card-text text-muted">${response.CommentDate}</p>
                            <p class="card-text">${response.Content}</p>
                        </div>
                    </div>
                `);

                feedback.html(`
                    <div class="alert alert-success">
                        Comentário enviado com sucesso!
                    </div>
                `);
            },

            error: function(err){
                console.error(err);

                feedback.html(`
                    <div class="alert alert-danger">
                        Erro ao enviar comentário. Tente novamente.
                    </div>
                `);
            }
        });
    });

});
</script>
}

